body{
   
  font-family: "Plus Jakarta Sans", serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 

}
.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link {
    color: #222222 !important;

}

/* footer */
.f-info-link a{
    text-decoration: none;
    color: #222222;
}
.f-info-link a:hover{
    text-decoration: underline;
}
.f-info{
    display: flex;
    height: 5rem;
    justify-content: center;
    background-color: #ebebeb;
    flex-wrap: wrap;
    align-items: space-evenly;
    text-align: center;
}

.f-info-social{
    width: 100%;
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    
    vertical-align: middle;
}
.f-info-name{
    width: 100%;
}
.f-info-link a {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}
/* cards */

.card{
    border: none;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
    height: 20rem;
}
.card-body{
    padding: 0 !important;
    
}
.row a{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;

}
.card-img-overlay:hover{
    opacity: 0.15;
    background-color: white;
}

.btn{
    background-color: #ff385c;
    color: white;
}
.btn:hover{
    background-color: #ff385c;
    color: white;
}
.image-box{
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
}
.image-box p{
    margin-left: 10px;
    width: 100%;
}

.show-image{
    height: 30vh;
}

.buttons{
   
    display: flex;
    justify-content: space-evenly;
    
}
.delete-btn{
    background-color: rgb(36, 34, 34);
}
.delete-btn:hover{
    background-color:rgb(36, 34, 34) ;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
  


  
  
