<% layout('layouts/boilerplate') -%>
<h2 class="col-6 offset-2">Signup on WanderLust</h2>
<style>
    .login b a{
        text-decoration: none;
        color: #ff385c;

    }

</style>

<div class="row">
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="username" id="username" required class="form-control">
                <div class="valid-feedback">Looks good!</div>


            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="text" name="email" id="email" required class="form-control">
               

                
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="password" id="password" required class="form-control">
                
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Signup</button>
                 <br><br>
                <p class="login"><b>Already have an account? <a href="/login">Login</a></b></p>
            </div>
        </form>

    </div>
</div>